<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28969626804-uor31ejit7u45aankjo3a677t6a2pc9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28969626804-uor31ejit7u45aankjo3a677t6a2pc9a</string>
	<key>API_KEY</key>
	<string>AIzaSyByZzttpS8r4tRan7J27sMine-yLobBkiI</string>
	<key>GCM_SENDER_ID</key>
	<string>28969626804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FIT5120-Working-Rights</string>
	<key>PROJECT_ID</key>
	<string>working-rights</string>
	<key>STORAGE_BUCKET</key>
	<string>working-rights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:28969626804:ios:21c7aaea9b10c06c</string>
	<key>DATABASE_URL</key>
	<string>https://working-rights.firebaseio.com</string>
</dict>
</plist>